*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}

article{
    background-color: #ccc;
    padding: 1rem;
    margin: 1rem;
    width: 40%;
}